h1 {
  color: white;
  padding: 10px;
  margin-left: 25%;
  margin-right: 5%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: rgb(255, 249, 249);
}

a {
  margin-left: 100px;
  margin-top: 6px;
  float: right;
}

a:hover {
  color:black;
}
/* iframe {
  margin-top: 5px;
} */
#info {
  margin: 0%;
  float: none;
}
#info:hover {
  color: rgb(0, 0, 0);
}

